@import './variables.scss';

.navbar {
    .container {
        width: $width-auto;
    }
}

.back-ground {
    .container {
        width: $width-auto;

        .nav {
            justify-content: center;
        }
    }
}