.pagination {
    margin-top: 20px;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    color: #007bff;
    cursor: pointer;
}

.page-link:hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
}